[submodule "titanic"]
	path = titanic
	url = git@github.com:queirozfcom/titanic.git
	branch = master
[submodule "instacart"]
	path = instacart
	url = git@github.com:queirozfcom/instacart.git
[submodule "ulb-credit-card-fraud"]
	path = ulb-credit-card-fraud
	url = git@github.com:queirozfcom/ulb-credit-card-fraud.git
